# Base ignores
*.DS_Store
node_modules
*.log

# DB
db-*
db

# dbscheme
my.*.dbscheme*

# gradle
build
.gradle

# jni library file
*.dylib

# cxx
.cxx

# rewritten library
**/main/ql/java
**/main/ql/cpp

# fdroid
download
extracted
cmdline-tools
sdk
ndk

cli
